/* You can add global styles to this file, and also import other style files */
.ex {
    color: pink
}

.point {
    cursor: pointer;
}
.bordered {
    border: 1px dashed black;
    background-color: #eee; }